$body-color: red;

.pullRight{
    /* display: flex;
    justify-content: flex-end; */
    text-align: center;
  }
  .h1 {
    margin-top: 10px !important;
    color: $body-color;
    margin-bottom: 20px !important;
  }